<a href="https://colab.research.google.com/github/manojgupta3051994/dsmp-pre-work/blob/master/Pandas%20%3A%20FIlling%20Missing%20Values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [0]:
ufo.tail()

In [0]:
ufo.isnull().tail()

In [7]:
ufo.notnull().tail()

       City  Colors Reported  Shape Reported  State  Time
18236  True            False            True   True  True
18237  True            False            True   True  True
18238  True            False           False   True  True
18239  True             True            True   True  True
18240  True            False            True   True  True

In [0]:
ufo.isnull().sum()

In [0]:
ufo[ufo['City'].isnull()]

In [12]:
ufo.shape

(18241, 5)

In [14]:
ufo.dropna(how='any').shape

(2486, 5)

In [15]:
ufo.dropna(how='all').shape

(18241, 5)

In [18]:
ufo.dropna(subset=['City' , 'Shape Reported'] , how = 'all').shape

(18237, 5)

In [23]:
ufo['Shape Reported'].value_counts(dropna=False)

VARIOUS      2977
LIGHT        2803
DISK         2122
TRIANGLE     1889
OTHER        1402
CIRCLE       1365
SPHERE       1054
FIREBALL     1039
OVAL          845
CIGAR         617
FORMATION     434
RECTANGLE     303
CYLINDER      294
CHEVRON       248
DIAMOND       234
EGG           197
FLASH         188
TEARDROP      119
CONE           60
CROSS          36
DELTA           7
ROUND           2
CRESCENT        2
FLARE           1
HEXAGON         1
DOME            1
PYRAMID         1
Name: Shape Reported, dtype: int64

In [0]:
ufo['Shape Reported'].fillna(value = 'VARIOUS',inplace = True)